<header class="py-4 flex items-center fixed top-0 w-full justify-center px-4" id="landing-header">
    <div class="flex flex-grow basis-0 font-poppins text-base">
        <p>Hola</p>
    </div>

    <nav>
        <ul class="flex text-sm [&>li>a]:inline-block [&>li>a]:px-3 [&>li>a]:font-poppins [&>li>a]:py-2 [&>li>a]:text-base">
            <li>
                <a href="/articulos">
                    Artículos
                </a>
            </li>
            <li>
                <a href="/videos">
                    Vídeos
                </a>
            </li>
        </ul>
    </nav>

    <div class="flex flex-grow basis-0 justify-end font-poppins">
        <div class="flex px-3 py-2 rounded-[0.5rem] bg-faded-black gap-3 text-base">
            ¿Qué quieres aprender hoy?
            <span class="search-icon">
                <svg width="20" height="20" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" class="h-full align-middle">
                    <path fill="currentColor" d="M15.5 14h-.79l-.28-.27A6.471 6.471 0 0 0 16 9.5A6.5 6.5 0 1 0 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5S14 7.01 14 9.5S11.99 14 9.5 14z"/>
                </svg>
            </span>
        </div>
    </div>

    <div
        id="menu-backdrop"
        class={`absolute bg-faded-black backdrop-blur-lg rounded left-[var(--left)] top-[var(--top)] w-[var(--width)] h-[var(--height)] transition-all duration-300 ease-in-out opacity-0 -z-10
        `}
    />
</header> 

<script>
    const listItem = document.querySelectorAll("#landing-header li")
    const menuBackdrop = document.querySelector("#menu-backdrop") as HTMLElement

    listItem.forEach((item) => {
        item.addEventListener("mouseenter", () => {
            const { left, top, width, height } = item.getBoundingClientRect()
            const { clientHeight, clientWidth } = item

            menuBackdrop.style.setProperty("--left", `${left}px`)
            menuBackdrop.style.setProperty("--top", `${top}px`) 
            menuBackdrop.style.setProperty("--width", `${width}px`)
            menuBackdrop.style.setProperty("--height", `${height}px`)
            menuBackdrop.style.opacity = "1"
            menuBackdrop.style.visibility = "visible"
        })

        item.addEventListener("mouseleave", () => {
            menuBackdrop.style.opacity = "0"
            menuBackdrop.style.visibility = "hidden"
        })
    })
</script>