---
import PrincipalLayout from "@/layouts/en/PrincipalLayout.astro";
---

<PrincipalLayout 
    title="À propos de nous | Divulgando Ciencia" 
    description="Nous sommes deux étudiants passionnés par la science. Découvrez la puissance de la divulgation scientifique ouverte avec la même passion que la nôtre."
    image="/images/landing-page/portada.webp"
>
    <section class="mt-20 w-full justify-center text-center m-auto px-8 sm:px-32 lg:px-40 xl:px-64 text-principal-black dark:text-principal-white">
        <h1 class="font-generalsans-semibold text-5xl leading-[3.25rem] min-[1800px]:text-7xl mb-4">À propos de nous</h1>
        <section class="w-full justify-center flex">
            <img alt="Fotografía" class="bg-principal-white w-full text-center justify-center object-cover rounded-lg mt-3 mb-2 h-[12rem] sm:h-[16rem] md:h-96 lg:h-[22rem] xl:h-[25rem] min-[1800px]:h-[32rem] min-[1800px]:w-1/2" src="/images/landing-page/portada.webp"/>
        </section>
    </section>
    <section class="w-full justify-center flex mt-5">
        <article class="prose font-generalsans dark:prose-invert prose-img:my-3 prose-img:rounded mb-4 text-normal  px-8 sm:px-0 sm:max-w-lg min-[1800px]:text-xl min-[1800px]:max-w-4xl">
            Salut ! Nous sommes Darío et Dorian, deux étudiants passionnés par la science, particulièrement par la vulgarisation scientifique.

            Nous avons lancé ce site web comme moyen de faire ce que nous aimons : diffuser la science et enseigner le savoir scientifique au reste du monde.

            Ce qui a commencé comme un passe-temps s'est maintenant transformé en un site web où nous voulons que notre public ressente la même passion que nous avons pour la vulgarisation scientifique et la science. Nous voulons que vous acquériez de nouvelles connaissances à chaque visite ; nous voulons que vous trouviez toutes les informations scientifiques que vous recherchez ; nous voulons que vous naviguiez librement à la recherche d'articles sur votre science préférée ; nous voulons...
        </article>
    </section>
</PrincipalLayout>