---
const {contenido} = Astro.props
---

<a class="group w-[18%]" href="/mi-articulo">
    <div id="image" class="bg-principal-black group-hover:scale-110 rounded-lg transition-all">
        <img id="portada" src="/images/contenido/la-idea-de-eratostenes/imagen-de-portada.webp" class="w-full rounded-lg h-40 opacity-60">
    </div>
    <h6 class="text-dark-math font-medium mt-4 dark:text-light-math">
        MATEMÁTICAS
    </h6>
    <h2 class="text-[1.3rem] font-medium text-principal-black dark:text-principal-white">
        La inteligencia artificial en la Olimpiada Matemática
    </h2>
    <footer class="flex gap-x-1 text-dark-gray dark:text-light-gray">
        <p>Autor</p>
        <p>·</p>
        <p>3 agosto, 2023</p>
    </footer>
</a>

<script>
    const image = document.querySelector("#image") as HTMLElement
    const portada = document.querySelector("#portada") as HTMLElement
    if (contenido === "article"){
        image.style.opacity=0;
        portada.style.opacity=0;
        
    } else if (contenido === "video"){
        image.style.opacity=1;
        portada.style.opacity=0.6;
    }
    console.log(contenido)
</script>