<article class="w-1/5">
    <img src="/images/contenido/la-idea-de-eratostenes/imagen-de-portada.webp" class="w-full rounded-lg">
    <h6 class="text-dark-math font-medium mt-4">
        MATEMÁTICAS
    </h6>
    <h2 class="text-2xl font-medium">
        La idea de Eratóstenes
    </h2>
    <footer class="flex gap-x-1">
        <p>Darío Otero</p>
        <p>·</p>
        <p>3 agosto, 2023</p>
    </footer>
</article>