---
import MainLayout from "@/layouts/MainLayout.astro";
---

<MainLayout title="Soluciones Rumbo a 2030" description="Juego de memoria sobre los ODS" altIMG="Juego de memoria sobre los ODS">
    <div class="container px-4 py-8 md:py-12 relative z-10">
        <h1 class="text-3xl md:text-4xl lg:text-5xl font-bold tracking-tight mb-6">Soluciones Rumbo a 2030</h1>
        <p class="text-xl text-muted-foreground max-w-3xl mb-8">Aprende los Objetivos de Desarrollo Sostenible y qué puedes hacer para cumplirlos jugando a Rumbo a 2030. 
            Estas son las parejas que debes formar:</p>
        <img src="/images/juegos/memory-ods.webp" class="absolute top-0 left-0"/>
    </div>
</MainLayout>