---
import Layout from "../layouts/Layout.astro";
import Menu from "../components/Menu.astro";
import Contenido from "../components/Contenido.astro";
import FilaBotones from "../components/FilaBotones.astro";
const title = "Artículos";
---

<Layout title={title}>
	<Menu design="articles"/>
	<section class="flex gap-x-7 w-full justify-center h-full mt-7">
		<Contenido contenido="article" url="/articulos/feria-de-ciencia-sostenible-en-valladolid" ciencia="programación" titulo="Feria de Ciencia Sostenible en Valladolid" autor="Darío" fecha="4 mayo, 2023" imagen="/images/contenido/feria-de-ciencia-sostenible-en-valladolid/portada.webp" design="desktop-a-2-grande"/>
		<Contenido contenido="article" ciencia="científicos" titulo="Título de la entrada" autor="Autor" fecha="24 agosto, 2023" imagen="/images/landing-page/bacteria.jpg" design="desktop-a-2-mini"/>
	</section>
	<FilaBotones/>
	<section class="flex gap-x-7 w-full justify-center h-full mb-7">
		<Contenido contenido="article" ciencia="biología" titulo="Título de la entrada" autor="Autor" fecha="24 agosto, 2023" imagen="/images/landing-page/bacteria.jpg" design="desktop-a-4"/>
		<Contenido contenido="article" ciencia="geología" titulo="Título de la entrada" autor="Autor" fecha="24 agosto, 2023" imagen="/images/landing-page/bacteria.jpg" design="desktop-a-4"/>
		<Contenido contenido="article" ciencia="tecnología" titulo="Título de la entrada" autor="Autor" fecha="24 agosto, 2023" imagen="/images/landing-page/bacteria.jpg" design="desktop-a-4"/>
		<Contenido contenido="article" ciencia="programación" titulo="Título de la entrada" autor="Autor" fecha="24 agosto, 2023" imagen="/images/landing-page/bacteria.jpg" design="desktop-a-4"/>
	</section>
	<section class="flex gap-x-7 w-full justify-center h-full mb-7">
		<Contenido contenido="article" ciencia="matemáticas" titulo="Título de la entrada" autor="Autor" fecha="24 agosto, 2023" imagen="/images/landing-page/bacteria.jpg" design="desktop-a-4"/>
		<Contenido contenido="article" ciencia="geología" titulo="Título de la entrada" autor="Autor" fecha="24 agosto, 2023" imagen="/images/landing-page/bacteria.jpg" design="desktop-a-4"/>
		<Contenido contenido="article" ciencia="física" titulo="Título de la entrada" autor="Autor" fecha="24 agosto, 2023" imagen="/images/landing-page/bacteria.jpg" design="desktop-a-4"/>
		<Contenido contenido="article" ciencia="química" titulo="Título de la entrada" autor="Autor" fecha="24 agosto, 2023" imagen="/images/landing-page/bacteria.jpg" design="desktop-a-4"/>
	</section>
</Layout>