---
import Layout from "../layouts/Layout.astro";
import Menu from "../components/menu/Articulos.astro";
import Contenido from "../components/Contenido.astro";
const title = "Artículos";
---

<Layout title={title}>
	<Menu></Menu>
	<div class="flex gap-x-7 w-full justify-center h-full">
		<Contenido design="desktop-a-2-grande"/>
		<Contenido design="desktop-a-2-mini"/>
	</div>
</Layout>