---
import Layout from "../layouts/Layout.astro";
import Menu from "../components/menu/Articulos.astro";
import Contenido from "../components/Contenido.astro";
const title = "Artículos";
---

<Layout title={title}>
	<Menu></Menu>
	<div class="flex gap-x-7 w-full justify-center h-full my-7">
		<Contenido contenido="article" ciencia="tecnología" titulo="La ciencia del FIFA o cómo ganar seguro en FUT Champions" autor="Don Doctor" fecha="24 agosto, 2023" imagen="images/landing-page/fifa.jpg" design="desktop-a-2-grande"/>
		<Contenido contenido="article" ciencia="matemáticas" titulo="Las Olimpiadas Matemáticas y la inteligencia artificial" autor="Don Doctor" fecha="23 agosto, 2023" imagen="images/landing-page/olimpiadas.jpg" design="desktop-a-2-mini"/>
	</div>
	<div class="flex gap-x-7 w-full justify-center h-full mb-7">
		<Contenido contenido="article" ciencia="geología" titulo="El misterio de las grandes rocas" autor="Don Doctor" fecha="21 agosto, 2023" imagen="images/landing-page/grandes-rocas.jpeg" design="desktop-a-4"/>
		<Contenido contenido="article" ciencia="tecnología" titulo="Home Assistant, el futuro de tu hogar" autor="Dr. Domótica" fecha="20 agosto, 2023" imagen="images/landing-page/h-a.png" design="desktop-a-4"/>
		<Contenido contenido="article" ciencia="programación" titulo="La Raspberry Pi" autor="Fan del Doctor" fecha="19 agosto, 2023" imagen="images/landing-page/raspberry.jpeg" design="desktop-a-4"/>
		<Contenido contenido="article" ciencia="científicos" titulo="Entrada" autor="Su fan nº.1" fecha="15 agosto, 2023" imagen="images/landing-page/don-doctor.jpg" design="desktop-a-4"/>
	</div>
	<div class="flex gap-x-7 w-full justify-center h-full mb-7">
		<Contenido contenido="article" ciencia="geología" titulo="El misterio de las grandes rocas" autor="Don Doctor" fecha="21 agosto, 2023" imagen="images/landing-page/grandes-rocas.jpeg" design="desktop-a-4"/>
		<Contenido contenido="article" ciencia="tecnología" titulo="Home Assistant, el futuro de tu hogar" autor="Dr. Domótica" fecha="20 agosto, 2023" imagen="images/landing-page/h-a.png" design="desktop-a-4"/>
		<Contenido contenido="article" ciencia="programación" titulo="La Raspberry Pi" autor="Fan del Doctor" fecha="19 agosto, 2023" imagen="images/landing-page/raspberry.jpeg" design="desktop-a-4"/>
		<Contenido contenido="article" ciencia="científicos" titulo="Entrada" autor="Su fan nº.1" fecha="15 agosto, 2023" imagen="images/landing-page/don-doctor.jpg" design="desktop-a-4"/>
	</div>
</Layout>