<html lang="es">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/images/logo-modo-claro.webp" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<meta name="google-adsense-account" content="ca-pub-5669798174045459">
		<title>Buscar | Divulgando ciencia</title>
		<script defer type="text/javascript" src="https://api.pirsch.io/pirsch-extended.js"
    	id="pirschextendedjs"
    	data-code="wYTct0P2Wxl70XaeO2LmR09fdPJrSaye"></script>
        <script>
            window.addEventListener('DOMContentLoaded', (event) => {
                new PagefindUI({ element: "#search",
                 showSubResults: true,
                 translations: {
                    placeholder: "¿Qué quieres aprender hoy?",
                    clear_search: "Limpiar búsqueda",
                    load_more: "Ver más resultados",
                    search_label: "Buscar en este sitio",
                    filters_label: "Filtros",
                    zero_results: "No se han encontrado resultados para [SEARCH_TERM]",
                    many_results: "Se han encontrado [COUNT] resultados para [SEARCH_TERM]",
                    one_result: "Se ha encontrado un resultado para [SEARCH_TERM]",
                    alt_search: "No se han encontrado resultados para [SEARCH_TERM]. Mostrando resultados para [DIFFERENT_TERM]",
                    search_suggestion: "No se han encontrado resultados para [SEARCH_TERM]. Prueba alguna de las siguientes búsquedas:",
                    searching: "Buscando para [SEARCH_TERM]..."
                 } 
                });
            });
        </script>
        <link href="/_pagefind/pagefind-ui.css" rel="stylesheet">
        <script src="/_pagefind/pagefind-ui.js" type="text/javascript"></script>
	</head>
	<body class="bg-principal-white dark:bg-principal-black transition-all mr-8 ml-8 mt-6 mb-6 flex gap-x-2" id="buscador">
        <a class="hover:scale-110 transition-all w-fit" href="/">
            <img alt="Logo de divulgandociencia.com" src="/images/logo-modo-oscuro.webp" class="modo-oscuro"/>
            <img src="/images/logo-modo-claro.webp" alt="Logo de divulgandociencia.com" class="modo-claro"/>
        </a>
        <div class="w-full" id="search"></div>
	</body>
	<style>
        #buscador{
            .modo-claro{
                display:flex;
                height: calc(64px * var(--pagefind-ui-scale));
            }
            .modo-oscuro{
                display:none;
                height: calc(64px * var(--pagefind-ui-scale));
            }
        }
		:is(.dark #buscador){
            .modo-oscuro{
                display: flex;
                height: calc(64px * var(--pagefind-ui-scale));
            }
            .modo-claro{
                display:none;
                height: calc(64px * var(--pagefind-ui-scale));
            }
        }
	  </style> 
</html>