---
import PrincipalLayout from "../layouts/PrincipalLayout.astro";
---

<PrincipalLayout title="Cómo jugar a Adivino tu carta" description="Aprende a jugar a Adivino tu carta, un juego que adivinará la carta en la que estás pensando usando matemáticas">
    <section class="mt-20 w-full justify-center text-center m-auto px-8 sm:px-32 lg:px-40 xl:px-64 text-principal-black dark:text-principal-white">
        <h1 class="font-generalsans-semibold text-5xl leading-[3.25rem] min-[1800px]:text-7xl mb-4">Cómo jugar a Adivino tu carta</h1>
    </section>
        <section data-pagefind-body class="w-full justify-center flex mt-5">
            <article class="prose font-generalsans dark:prose-invert prose-img:my-3 prose-img:rounded mb-4 text-normal  px-8 sm:px-0 sm:max-w-lg min-[1800px]:text-xl min-[1800px]:max-w-4xl">
                <img src="/images/adivino-tu-carta.webp">
            </article>
        </section>
    </main>