---
import Libro from "@/components/Libro.astro";
import { getBooks } from "@/js/notion";
const books = await getBooks();

import PrincipalLayout from "@/layouts/PrincipalLayout.astro";
---

<PrincipalLayout 
    title="Sobre nosotros | Divulgando Ciencia" 
    description="Somos dos estudiantes apasionados por la ciencia. Descubre el poder de la divulgación científica abierta con la misma pasión que nosotros."
    image="/images/landing-page/portada.webp"
>
  <section class="mt-20 w-full justify-center text-center m-auto px-8 sm:px-32 lg:px-40 xl:px-64 text-principal-black dark:text-principal-white grid grid-cols-2 md:grid-cols-4 lg:grid-cols-6 xl:grid-cols-8  2xl:grid-cols-10 gap-1 md:gap-2 lg:gap-3 xl:gap-4 mb-16">
    {
      books.map((book) => (
        <Libro {...book} />
      ))
    }
  </section>


</PrincipalLayout>