---
import PrincipalLayout from "../layouts/PrincipalLayout.astro";
---

<PrincipalLayout>
    <p>Q-bot te ayudará a encontrar dónde debes tirar el residuo que introduzcas para reciclar correctamente. ¡Está esperando tu visita!</p>
    <br>
    <img decoding="async" id="contenedor" src="https://divulgandociencia.com/wp-content/uploads/2023/01/Q-Bot-min.webp" alt="Imagen de Q-bot">
    <br>
    <br>
    <div id="bct">
        <div>
            <div class="button-container" id="bc1">
                <textarea id="ta-q" name="prod" placeholder="Introduce tu producto aquí"></textarea>
                <button onclick="sub()" id="but1" accesskey="N">
                    <img decoding="async" id="but1-img" src="https://cdn-icons-png.flaticon.com/512/861/861180.png" alt="">
                </button>
            </div>
    </div>
            <div class="button-container" id="bc2">
                <label id="cont" class="txt">Sin contenedor</label>
                <button onclick="sub()" id="but2">
                    <img decoding="async" id="but2-img" src="https://cdn-icons-png.flaticon.com/128/1078/1078599.png" alt="">
                </button>
            </div>
        </div>
    <br>
    <p id="links_bot">¿No encuentras el producto que estás buscando? ¡No te preocupes! Puedes proponer un nuevo producto pinchando <a href="https://divulgandociencia.com/q-bot/formulario">aquí</a>. Esto es una creación de <a href="https://twitter.com/tecnomagia_es">Tecnomagia</a> y <a href="https://instagram.com/neplod">Neplodent</a>.</p>
</PrincipalLayout>
<script>
    let lista;
    const url = "https://divulgandociencia.com/wp-content/uploads/2023/01/q-bot.json";
    jQuery.getJSON(url, function(data) {
      lista = data;
    });
    function quitarAcentos(cadena){
        const acentos = {'á':'a','é':'e','í':'i','ó':'o','ú':'u','Á':'A','É':'E','Í':'I','Ó':'O','Ú':'U'};
        return cadena.split('').map( letra => acentos[letra] || letra).join('').toString();	
    }
    function quitarEspacios(word){
    cE = 0;
    for(let i = word.length;i>0;i--){
        if (word[i-1] == " "){
            switch(cE){
                case 0:
                    word = word.slice(0, i - 1) + word.slice(i, word.length);
                    break;
                case 1:
                    cE--;
                    break;
            }
        }
        else{
            if (cE != 1){
                cE++;
            }
        }
    }
    return word;
    }
    function sub(){
      var objetivo = document.getElementById('cont');
      let producto = document.getElementsByName("prod")[0].value;
      console.log(producto);
      console.log(typeof(producto));
      producto = producto.replace("\n"," ");
      producto = quitarAcentos(producto);
      producto = quitarEspacios(producto);
      let contenedor = lista.filter(e => e.objetos.includes(producto.toLowerCase()))[0]?.contenedor;
      if (contenedor) {
         objetivo.innerHTML=contenedor;
      } else { 
         objetivo.innerHTML = "Sin contenedor";
      }
    }
    </script>

<style>
    #but1{
    display: flex;
    margin-left:auto;
    margin-right:5px;
    background-color: transparent;
    border: 0;
		height: 50px;
}

#but2{
    display: flex;
    margin-left:5px;
    margin-right:auto;
    background-color: transparent;
    border: 0;
		height: 50px;

}

#but1-img{
    height: 100%;
}

#but2-img{
    height: 100%;

}

.button-container{
    background-color: #fff;
    width: 50%;
    height: 50px;
    border-radius: 125px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);

}

#bc2{
	  margin-top: 25px;
    background-color: #79b2f7;
    position: relative;
}

#contenedor{
    display:block;
    margin-left: auto; 
    margin-right: auto;
}

#ta-q{
    font-family: 'Open Sans',Montserrat,Arial;
    font-size: 110%;
    width: 75%;
    background-color: transparent;
    border: 0;
    height: 100%;
		outline: none;
		resize: none;
		float: left;
		vertical-align: center;
		color: #000;
		overflow:hidden;
		margin-top: -2px;
}
@media screen and (max-width: 550px){
	#ta-q{
		width: 65%;
	}
	.button-container{
		width:70%;
	}
	#but1-img, #but2-img{
		margin-top: 20%;
		height: 70%;
	}
}

.txt{
    font-family: 'Open Sans',Montserrat,Arial;
		font-weight: normal;
		color: #000;
    width: 100%;
    background-color: transparent;
    float: right;
    border: 0;
    margin: 0;
    position: absolute;
    top: 50%;
	  font-size: 110%;
    transform: translateY(-50%);
    text-align: right;
    right: 21px;
}

#but1:hover{
    cursor:pointer;
}
#but1,#but2{
	outline: none;
}

#content a:hover, #links_bot a:hover{
	text-decoration: underline;
}
#links_bot,.p_bot,.form_bot,.page-id-3074 p{
	text-align: center;
	margin-top: 15px;
	margin-left: 15px;
	margin-right: 15px;
	font-size: 100%;
}

#links_bot{
	margin-bottom: 50px;
}

#wpforms-2965-field_1{
	width: 60%;
	margin-left: 20%;
}

@media screen and (max-width: 708px){
	.txt, #ta-q{
		font-size: 10px;
	}
	#ta-q{
		margin-top: 4px;
	}
	#links_bot{
		font-size: 12px;
	}
	#contenedor{
		width: 50%
	}}
</style>