---
import PrincipalLayout from "../layouts/PrincipalLayout.astro";
import Hora from "../components/Hora.astro";
---
<PrincipalLayout title="Q-Bot" class="h-screen" reloj="none">
    <main class="h-full w-full text-[4rem] sm:text-[6rem] md:text-[10rem] lg:text-[16rem] xl:text-[23rem] my-80 sm:my-72 md:my-64 lg:my-28 xl:my-16">
        <Hora class="h-screen w-full"/>
    </main>
</PrincipalLayout>