---
import PrincipalLayout from "../layouts/PrincipalLayout.astro";
---

<PrincipalLayout title="Tecnoherramientas" class="mt-20 bg-dark-biology">
    <div class="w-full flex gap-x-6 h-64 mt-20 bg-dark-biology">
        <div class="bg-light-scientifics text-principal-white w-full h-32">
            <section class="bg-dark-gray w-32 h-32">
                EMCAGOENTODODOOOOOO
            </section>
        </div>
        <article class="bg-light-scientifics w-full h-32">a</article>
        <article class="bg-light-scientifics w-full h-32">a</article>
    </div>
    <section class="w-full flex gap-x-6 h-full">
        <article class="bg-light-scientifics w-full h-32">a</article>
        <article class="bg-light-scientifics w-full h-32">a</article>
        <article class="bg-light-scientifics w-full h-32">a</article>
    </section>
</PrincipalLayout>