---
import Layout from "../layouts/Layout.astro";
import Menu from "../components/menu/Videos.astro";
import Contenido from "../components/Contenido.astro";
const title = "Vídeos";
---

<Layout title={title}>
	<Menu></Menu>
	<div class="flex gap-x-7 w-full justify-center h-full my-7">
		<Contenido contenido="video" ciencia="matemáticas" titulo="Título de la entrada" duracion="21:30" imagen="images/landing-page/bacteria.jpg" design="desktop-a-2-grande"/>
		<Contenido contenido="video" ciencia="geología" titulo="Título de la entrada" duracion="21:30" imagen="images/landing-page/bacteria.jpg" design="desktop-a-2-mini"/>
	</div>
	<div class="flex gap-x-7 w-full justify-center h-full mb-7">
		<Contenido contenido="video" ciencia="biología" titulo="Título de la entrada" duracion="21:30" imagen="images/landing-page/bacteria.jpg" design="desktop-a-4"/>
		<Contenido contenido="video" ciencia="tecnología" titulo="Título de la entrada" duracion="21:30" imagen="images/landing-page/bacteria.jpg" design="desktop-a-4"/>
		<Contenido contenido="video" ciencia="química" titulo="Título de la entrada" duracion="21:30" imagen="images/landing-page/bacteria.jpg" design="desktop-a-4"/>
		<Contenido contenido="video" ciencia="física" titulo="Título de la entrada" duracion="21:30" imagen="images/landing-page/bacteria.jpg" design="desktop-a-4"/>
	</div>
	<div class="flex gap-x-7 w-full justify-center h-full mb-7">
		<Contenido contenido="video" ciencia="científicos" titulo="Título de la entrada" duracion="21:30" imagen="images/landing-page/bacteria.jpg" design="desktop-a-4"/>
		<Contenido contenido="video" ciencia="programación" titulo="Título de la entrada" duracion="21:30" imagen="images/landing-page/bacteria.jpg" design="desktop-a-4"/>
		<Contenido contenido="video" ciencia="matemáticas" titulo="Título de la entrada" duracion="21:30" imagen="images/landing-page/bacteria.jpg" design="desktop-a-4"/>
		<Contenido contenido="video" ciencia="geología" titulo="Título de la entrada" duracion="21:30" imagen="images/landing-page/bacteria.jpg" design="desktop-a-4"/>
	</div>
</Layout>