---
import CategoryList from './CategoryList.astro';
import ArticleTabs from './ArticleTabs.astro';
import Particles from './Particles.astro';
const { articles } = Astro.props;
import { clientTranslations } from '../../i18n';
const lang = Astro.locals.lang;
const t = clientTranslations[lang];
---

<section class="container px-4 py-10 md:py-12 md:px-6 relative">
    <div class="absolute inset-0 shadow-[inset_0_0_25px_-5px] shadow-[#000]/50 dark:shadow-[inset_0_0_28px_-5px] dark:shadow-[#000]/50 bg-primary/5 -z-10 rounded-xl"></div>
    <div class="absolute top-0 left-0 rounded-xl overflow-hidden w-full h-full">
		<!--<Particles canvasName="particlesArticles"/>-->
        <div class="tscience-pattern h-full w-full sticky"></div>
	</div>
    <div class="flex flex-col md:flex-row gap-8 relative z-10">
        <div class="md:w-1/4 max-sm:hidden">
            <div class="sticky top-24">
                <h2 class="text-2xl font-semibold mb-4">{t.home.articles.sciences}</h2>
                <CategoryList />
            </div>
        </div>
        <div class="md:w-3/4">
            <ArticleTabs articles={articles}/>
        </div>
    </div>
</section>

