---
const {ciencia} = Astro.props
---

<li id={ciencia} class="py-2 px-4 rounded-full text-principal-white font-medium text-sm">
    <a href="#" class="capitalize">
        {ciencia}
    </a>
</li>

<style>
    #matemáticas{
        background-color:#004193;
    }
    #biología{
        background-color:#005100;
    }
    #geología{
        background-color:#6E3400;
    }
    #física{
        background-color:#950000;
    }
    #química{
        background-color:#820083;
    }
    #tecnología{
        background-color:#623B00;
    }
    #programación{
        background-color:#5a12b0;
    }
    #científicos{
        background-color:#004f3e;
    }
</style>