---
import BotonCiencia from "./BotonCiencia.astro";
---

<nav class="flex flex-col lg:flex-row lg:gap-x-2 gap-y-2 w-full mx-auto justify-center mt-36 xl:mt-44 mb-8" id="fila-botones">
    <div class="flex gap-x-2 w-full justify-center lg:justify-end">
        <BotonCiencia ciencia="matemáticas" fondo="bg-dark-math"/>
        <BotonCiencia ciencia="biología" fondo="bg-dark-biology"/>
        <BotonCiencia ciencia="geología" fondo="bg-dark-geology"/>
    </div>
    <div class="flex gap-x-2 w-full lg:w-fit justify-center">
        <BotonCiencia ciencia="física" fondo="bg-dark-physics"/>
        <BotonCiencia ciencia="química" fondo="bg-dark-chemistry"/>
        <BotonCiencia ciencia="tecnología" fondo="bg-dark-technology"/>
    </div>
    <div class="flex gap-x-2 w-full justify-center lg:justify-start">
        <BotonCiencia ciencia="programación" fondo="bg-dark-coding"/>
        <BotonCiencia ciencia="científicos" fondo="bg-dark-scientifics"/>
    </div>
    
    
</nav>