---
import katex from 'katex';
const { formula='' } = Astro.props;
const html = katex.renderToString(formula, {output: 'mathml', throwOnError: false});
---
<div class="text-center">
    <span set:html={html} class=""/>
</div>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16.22/dist/katex.css" integrity="sha384-WsHMgfkABRyG494OmuiNmkAOk8nhO1qE+Y6wns6v+EoNoTNxrWxYpl5ZYWFOLPCM" crossorigin="anonymous"/>