---
---
<button id="boton-modo-claro-oscuro">
  <svg class="stroke-principal-black dark:stroke-principal-white w-6 h-6 sm:w-7 sm:h-7 md:w-8 md:h-8 min-[1800px]:w-12 min-[1800px]:h-12" viewBox="0 0 48 48" xmlns="http://www.w3.org/2000/svg"><g fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="4"><path d="m24.003 4l5.27 5.27h9.457v9.456l5.27 5.27l-5.27 5.278v9.456h-9.456L24.004 44l-5.278-5.27H9.27v-9.456L4 23.997l5.27-5.27V9.27h9.456L24.003 4Z"></path><path d="M27 17c0 8-5 9-10 9c0 4 6.5 8 12 4s2-13-2-13Z"></path></g></svg>
</button>
  
<script is:inline>
    const theme = (() => {
      if (typeof localStorage !== 'undefined' && localStorage.getItem('theme')) {
        return localStorage.getItem('theme');
      }
      if (window.matchMedia('(prefers-color-scheme: dark)').matches) {
        return 'dark';
      }
        return 'light';
    })();
  
    if (theme === 'light') {
      document.documentElement.classList.remove('dark');
    } else {
      document.documentElement.classList.add('dark');
    }
  
    window.localStorage.setItem('theme', theme);
  
    const handleToggleClick = () => {
      const element = document.documentElement;
      element.classList.toggle("dark");
  
      const isDark = element.classList.contains("dark");
      localStorage.setItem("theme", isDark ? "dark" : "light");
    }
  
    document.getElementById("boton-modo-claro-oscuro").addEventListener("click", handleToggleClick);
</script>