---
const {texto, autor} = Astro.props
---

<article class="h-full p-4 bg-principal-white text-principal-black dark:bg-principal-black dark:text-principal-white shadow-lg shadow-dark-gray rounded-lg text-left">
  <h3 class="font-generalsans-semibold text-2xl">{autor}</h3>
  <hr class="w-3/4 my-2 border-2 rounded-lg">
  <p class="font-generalsans">
    {texto}
  </p>
</article>