<footer class="w-full items-center py-6 px-2">
    <ul class="w-full justify-center items-center flex gap-4">
        <li>
            Sobre nosotros
        </li>
        ·
        <li>
            Publicamos tu artículo
        </li>
        ·
        <li>
            Q-Bot
        </li>
        ·
        <li>
            Apoya esta web
        </li>
    </ul>
</footer>