---
const {title} = Astro.props;
import Footer from "../components/Footer.astro";
---

<html lang="es">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="bg-principal-white dark:bg-principal-black transition-all">
        <slot/>
		<Footer/>
	</body>
	<style is:global>
		@font-face {
		  font-family: 'General Sans Semibold';
		  src: url('/fonts/GeneralSans-Semibold.woff2') format('woff2');
		  font-weight: normal;
		  font-style: normal;
		  font-display: swap;
		}
		@font-face {
		  font-family: 'General Sans Regular';
		  src: url('/fonts/GeneralSans-Regular.woff2') format('woff2');
		  font-weight: normal;
		  font-style: normal;
		  font-display: swap;
		}
		@font-face {
		  font-family: 'General Sans Medium';
		  src: url('/fonts/GeneralSans-Medium.woff2') format('woff2');
		  font-weight: normal;
		  font-style: normal;
		  font-display: swap;
		}
	  </style> 
</html>


<script src="https://getinsights.io/js/insights.js"></script>
<script>
import { init, track, parameters } from "insights-js"
// Initialize for your project, you can find this on your dashboard
init("XkJsfa5KasGf9W_8")

// ...

// track something
track({
  id: "user-registered",
  parameters: {
    method: "google",
    from: "top-link",
  },
})

</script>