---
const {title} = Astro.props;
import Footer from "../components/Footer.astro";
---

<html lang="es">
	<head>
		<script src="https://getinsights.io/js/insights.js"></script>
		<script>
		insights.init('Ng9EbB5Epe9lo8r4');
		insights.trackPages();
		</script>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/images/logo-modo-claro.webp" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="bg-principal-white dark:bg-principal-black transition-all">
        <slot/>
		<Footer/>
	</body>
	<style is:global>
		@font-face {
		  font-family: 'General Sans Semibold';
		  src: url('/fonts/GeneralSans-Semibold.woff2') format('woff2');
		  font-weight: normal;
		  font-style: normal;
		  font-display: swap;
		}
		@font-face {
		  font-family: 'General Sans Regular';
		  src: url('/fonts/GeneralSans-Regular.woff2') format('woff2');
		  font-weight: normal;
		  font-style: normal;
		  font-display: swap;
		}
		@font-face {
		  font-family: 'General Sans Medium';
		  src: url('/fonts/GeneralSans-Medium.woff2') format('woff2');
		  font-weight: normal;
		  font-style: normal;
		  font-display: swap;
		}
	  </style> 
</html>


